# Project exclude paths
/Lesson 1/Lesson 2/hw2-1/main.js
/Lesson 1/Lesson 2/hw2-2/main.js
/Lesson 1/Lesson 2/hw2-3/main.js
/Lesson 1/Lesson 2/hw2-4/main.js
/Lesson 1/Lesson 2/hw2-5/main.js
/Lesson 1/Lesson 2/hw2-6/main.js
/Lesson 1/Lesson 2/hw2-7/main.js
/Lesson 1/Lesson 2/hw2-8/main.js
/Lesson 1/Lesson 2/hw2-9/main.js
/Lesson 1/Lesson 2/hw2-10/main.js
/Lesson 1/Lesson 2/hw2-11/main.js
/Lesson 1/Lesson 2/hw2-12/main.js
/Lesson 1/Lesson 3/hw3-1/main.js
/Lesson 1/Lesson 3/hw3-2/main.js
/Lesson 1/Lesson 3/hw3-3/main.js
/Lesson 1/Lesson 3/hw3-4/main.js
/Lesson 1/Lesson 3/hw3-5/main.js
/Lesson 1/Lesson 3/hw3-6/main.js
/Lesson 1/Lesson 3/hw3-7/main.js
/Lesson 1/Lesson 3/hw3-8/main.js
/Lesson 1/Lesson 3-1/hw3-1-1/main.js
/Lesson 1/Lesson 3-1/hw3-1-2/main.js
/Lesson 1/Lesson 3-1/hw3-1-3/main.js
/Lesson 1/Lesson 3-1/hw3-1-4/main.js
/Lesson 1/Lesson 3-1/hw3-1-5/main.js
/Lesson 1/Lesson 3-1/hw3-1-6/main.js
/Lesson 1/Lesson 3-1/hw3-1-7/main.js
/Lesson 1/Lesson 3-1/hw3-1-8/main.js
/Lesson 1/Lesson 3-1/hw3-1-9/main.js
/Lesson 1/Lesson 3-1/hw3-1-10/main.js
/Lesson 1/Lesson 3-1/hw3-1-11/main.js
/Lesson 1/Lesson 3-1/hw3-1-12/main.js
/Lesson 1/Lesson 3-1/hw3-1-13/main.js
/Lesson 1/Lesson 3-1/hw3-1-14/main.js
/Lesson 1/Lesson 3-1/hw3-1-15/main.js
/Lesson 1/Lesson 3-1/hw3-1-16/main.js
/Lesson 1/Lesson 3-1/hw3-1-17/main.js
/Lesson 1/Lesson 3-1/hw3-1-18/main.js
/Lesson 1/Lesson 3-1/hw3-1-19/main.js
/Lesson 1/Lesson 3-1/hw3-1-20/main.js
/Lesson 1/Lesson 3-1/hw3-1-21/main.js
/Lesson 1/Lesson 3-1/hw3-1-22/main.js
/Lesson 1/Lesson 3-1/hw3-1-23/main.js
/Lesson 1/Lesson 3-1/hw3-1-24/main.js
/Lesson 1/Lesson 4/hw4-1/main.js
/Lesson 1/Lesson 4/hw4-2/main.js
/Lesson 1/Lesson 4/hw4-3/main.js
/Lesson 1/Lesson 4/hw4-4/main.js
/Lesson 1/Lesson 4/hw4-5/main.js
/Lesson 1/Lesson 4/hw4-6/main.js
/Lesson 1/Lesson 4/hw4-7/main.js
/Lesson 1/Lesson 4/hw4-8/main.js
/Lesson 1/Lesson 4/hw4-9/main.js
/Lesson 1/Lesson 4/hw4-10/main.js
/Lesson 1/Lesson 4/hw4-11/main.js
/Lesson 1/Lesson 4/hw4-12/main.js
/Lesson 1/Lesson 4/hw4-13/main.js
/Lesson 1/Lesson 5/hw5-1/main.js
/Lesson 1/Lesson 5/hw5-2/main.js
/Lesson 1/Lesson 5/hw5-3/main.js
/Lesson 1/Lesson 5/hw5-4/main.js
/Lesson 1/Lesson 5/hw5-6/main.js
/Lesson 1/Lesson 5/hw5-7/main.js
/Lesson 1/Lesson 5/hw5-8/main.js
/Lesson 1/Lesson 5/hw5-9/main.js
/Lesson 1/Lesson 5/hw5-10/main.js
/Lesson 1/Lesson 5/hw5-11/main.js
/Lesson 1/Lesson 5/hw5-12/main.js
/Lesson 1/Lesson 5/hw5-13/main.js
/Lesson 1/Lesson 6/hw6-1/main.js
/Lesson 1/Lesson 6/hw6-2/main.js
/Lesson 1/Lesson 6/hw6-3/main.js
/Lesson 1/Lesson 6/hw6-4/main.js
/Lesson 1/Lesson 6/hw6-5/main.js
/Lesson 1/Lesson 6/hw6-6/main.js
/Lesson 1/Lesson 6/hw6-7/main.js
/Lesson 1/Lesson 6/hw6-8/main.js